  .field {
    width: 100vw;
    height: 105vw;
    max-width: 720px;
    max-height: 720px;
    border-collapse: collapse;
    table-layout: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: green;
    td {
      text-align: center;
      border: 1px solid black;
      font-size: 0.7rem;
      color: rgba(255, 255, 255, 0.79);
    }
  }

  .app-field {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    align-items: center;
    border: black solid 2px;
    margin-top: 5px;
    margin-right: 3px;
    cursor: default;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: green;
  }

  .doubleWord {
    background-color: rosybrown;
  }
  .tripleWord {
    background-color: red;
  }
  .doubleLetter {
    background-color: rgb(177, 177, 216);
  }
  .tripleLetter {
    background-color: blue;
  }

.cell-over-image {
  background-color: transparent;
  border-color: darkgreen;
}

.last-word  {
  background-color: gold;
}

.active-cell {
  background: white;
}
